

/*font setting*/

#pdfstamper-form-stamp div#font_setting {
float: left;
width:250px;
margin: 10px 0 0 50px;
}

#pdfstamper-form-stamp div#font_setting label {
width: 50px;
float: left;
}

#pdfstamper-form-stamp div#font_setting div#font_size{
width:150px;

}

#pdfstamper-form-stamp div#font_setting div#font_family{
width:200px;
float:left;
}

#pdfstamper-form-stamp div#font_setting div#font_style{
width:200px;
margin-left:400px;
}


/*color setting */
#pdfstamper-form-stamp div#color_setting {
margin :30px 0 0 50px;
width:250px;
clear: right;
float:left;
}

#pdfstamper-form-stamp div#color_setting div#font_color_picker{
width:250px;
margin:15px 0;
}

#pdfstamper-form-stamp div#color_setting div#border_color_picker{
width:250px;
margin:25px 0;
}

#pdfstamper-form-stamp div#color_setting div#background_color_picker{
width:250px;
margin:25px 0;
}


#pdfstamper-form-stamp div#color_setting label{
width:100px;
float: left;
}

#pdfstamper-form-stamp div#color_setting input{
width:100px;
cursor: pointer;
}

#pdfstamper-form-stamp div#color_picker{
width:300px;
margin-left: 350px;

}
